.library-slider {
	margin-left: -15px;
	margin-bottom: 30px;
	.slick-next {
		right: -30px;
    	height: 100%;
    	width: 43px;
		box-shadow: -20px -2px 62px 35px white;
		background-color: $white;
		&:before {
			content: url('../../img/icons/icon-arrow-right.svg');
			position: relative;
    		right: 10px;
		}
	}
	.slick-prev {
		left: 0px;
		height: 100%;
		width: 43px;
		box-shadow: 20px -2px 62px 35px $white;
		background-color: $white;
		z-index: 3;
		&:before {
			content: url('../../img/icons/icon-arrow-left.svg'); 
		}

	}
}

.library-single-slide {
	position: relative;
	height: 425px;
	.img-wrapper {
		height: 375px;
		overflow: hidden;
	}
}






.trapezoid {

	.trap-sq {
		position: absolute;
		bottom: 0px;
		right: 30px;
		width: 212px;
		height: 100px;
		padding: 5px;
		background-color: $bluealpha;
		h3 {
			color: $white;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		small {
			color: $white;
			font-weight: 300;
			opacity: 0.75;
		}
	}
	.trap-tri {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 40px 100px 0;
		border-color: transparent $bluealpha transparent transparent;
		position: absolute;
    	bottom: 0px;
    	right: 242px;
	}
}