.analysis-title {
	font-style: initial;
}

#analysis-main-image {
	img {
		width: 100%;
		height: auto;
		@include screen-xxs {
			width: calc(100% + 40px);
    		height: auto;
		}
		@include screen-xs {
			width: 100%;
			height: auto;
		}
		@include screen-sm {
			width: auto;
			height: 75vh;
		}
	}
	@include screen-xs {
		float: none;
		margin: 0 -20px;
	}
	@include screen-sm {
		float: none;
		margin: 0 auto;
	}
	figcaption {
		@include screen-xs {
			margin-left: 10%;
			margin-right: 10%;
		}
	}
}