.blog-page, .single-post-page {
	margin-bottom: 0px;
}



.blog-page-body {
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 20px;
	position: relative;
	@include screen-sm {
		padding-left: 5%;
		padding-right: 5%;
	}
	@include screen-xs {
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
}

.single-post {
	margin-bottom: 60px;
	display: flex;
	.col-sm-10 {
		flex: 1;
	}
}

.blog-thumbnail {
	height: 160px;
	overflow: hidden;
	a {
		&:hover, &:active, &:focus:active {
			img {
				opacity: 0.75;
			}
		}
	}
	img {
		width: 100%;
		height: 100%;
	}
	@include screen-sm {
		height: 100px;

	}
	@include screen-xs {
		height: auto;
		margin-bottom: 10px;
	}
}

.blog-excerpt {
    //height: 160px;
    height: auto;
		h2 {
			margin-top: 0px;
			margin-bottom: 0px;
			line-height: 1.2;
			top: -4px;
			position: relative;
		}
		h5 {
			display: inline-block;
			color: $lightgray;
			margin-top: 0px;
			&:nth-of-type(n+2) {
				margin-left: 5px;
				&:before {
					content: '\\';
					position: relative;
					right: 5px;
					color: $lightgray;
				}
			}
		}
		p {
			margin-top: 15px;
		}

		@include screen-sm {
			height: auto;
		}

		@include screen-xs {
			height: auto;
		}
}

.blog-sign-up {
	background: $black;
	padding: 20px;
	h2 {
		color: $white;
		@include screen-xs {
			margin-bottom: 15px;
		}
		@include screen-xs {
			margin-bottom: 15px;
		}
	}
}

.es_shortcode_form {
	overflow: auto;
}

.es_lablebox {
	display: none;
}


.es_textbox {
	display: inline;
	padding-right: 20px;
	float: left;
	input {
		@extend .search-input;
		@include screen-sm {
			width: 300px;
		}
		@include screen-xs {
			width: 300px;
		}
	}
	@include screen-xs {
		display: block;
		margin-bottom: 15px;
	}

}

.es_button {
	display: inline;
	float: left;
	input {
		@extend button[type="submit"];
		height: 44px;
    	top: -9px;
	}
	@include screen-xs {
		display: block;
	}
}

.es_msg {
	color: $gold !important;
	padding-top: 12px;
	@include screen-sm {
		display: inline-block;		
	}
}

#es_msg_pg {
	color: $gold;
	@extend h5;
}