@media print {

	* {
		transition: none !important;
	}


	html, body {
		height: auto;
		position: relative;
		page-break-before: none;
		break-before: none;
  		page-break-after: none;
  		break-after: none;
  		page-break-inside: avoid;
  		break-inside: avoid;
	}
 
 	nav, footer {
 		display: none;
 	}

 	header {
 		&:before {
 			display: block;
			content: "Thank you for printing this content from ReligionInAmerica.org";
			margin-bottom: 10px;
			border: 1px solid #bbb;
			padding: 3px 5px;
			font-style: italic;
 		}
 	}

 	body {
  		margin: 0.5in;
	}

	h1, h2 {
		page-break-after: avoid;
	}

	p {
		page-break-inside: avoid;
		max-width: 100% !important;
	}

	blockquote, pre {
	    page-break-inside: initial;
	}

	img {
		max-width: 100%;
	}

	.alignleft, .alignright, .aligncenter {
		//display: inline-block;
		max-width: 50% !important;
	}
    .alignleft {
        float: left !important;
        margin-right: 20px !important;
    }
    .alignright {
        float: right !important;
        margin-left: 20px !important;
    }

	a:after {
		display: none;
	}



 	main {
 		width: 100%;
 		margin: 0px;
 		padding: 0px;
 	}

 	.container-fluid {
 		padding-left: 0px;
 		padding-right: 0px;
 	}

 	.breadcrumb {
 		padding: 0px;
 	}

 	.sharing {
 		display: none;
 	}

 	.share-mobile {
 		display: none !important;
 	}

 	.slim-jumbotron {
 		height: auto !important;
 	}

 	.slim-jumbotron-callout {
 		position: static;
    	width: 100%;
    	right: auto !important;
    	left: auto !important;
    	padding: 0px;
    	p {
    		font-size: 16px;
    	}
 	}

 	.jumbotron {
 		padding-top: 0px;
 		padding-bottom: 0px;
 	}

 	.rahp-object-title {
 		margin-left: 0px;
 	}

 	.rahp-object-body {
 		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		height: auto;
 	}

 	.rahp-object-subheading {
 		padding-left: initial;
 	}

 	.related-content {
 		display: none !important;
 		margin: 0px;
 		padding: 0px;
 		height: 0px;
 		width: 0px;
 	}

 	.references-wrapper {
 		margin-top: 30px;
 	}

 	.col-sm-12 {
    	float: left;
  	}

 	.col-sm-5 {
 		width: 100%;
 	}

 	.object-references {
 		width: 100%;
 	}

 	.object-callouts .callout-studyqs, .object-callouts .callout-compare {
 		border-left: none;
 		padding-left: initial;
 	}

 	.callout-studyqs, .callout-compare {
 		width: 100%;
 	}
 	

 	.pagination {
 		display: none !important;
 	}

 	.blog-sign-up {
 		display: none !important;
 	}



 	

}