
h1, h3, h4, h5, h5 {
	font-family: $lato;
}

h2, p {
	font-family: $vollkhorn;
}

h3 {
	font-size: 1.4em;
}

p {
	font-size: 1em;
}

p>a {
	color: $gold;
	transition: $transition;
	&:hover {
		color: $darkgold;
	}
}

