
h1, h3, h4, h5, h5, small {
	font-family: $lato;
}

 

h2, h6, p {
	font-family: $vollkhorn;
}


h3 {
	font-size: 1.4em;
}

h5 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2, h6 {
	font-style: italic;
}


p {
	font-size: 1.15em;
}

a {
	transition: $transition;
}

figure {
	display: table;
}

figcaption {
	font-family: $lato;
	color: $lightgray;
	font-weight: 300;
	margin-top: 7px;
    line-height: 1.8;
    display: table-caption;
    caption-side: bottom;
}

h1>a {
	@include gold-black-anchor;
	font-size: 22px;
}

h5>a {
	@include gold-black-anchor;
}

p>a {
	@include gold-anchor;
}

h6>a {
	@include gray-anchor;
}

.tiny-text {
	font-size: 0.5em;
}

// corrects positioning
.tiny-text-parent {
	position: relative;
	top: 2px;
}
